{% load static %}
{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:" en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Photoidea: contact </title>

    <!-- EXTERNAL CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/Pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/social-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">

    <!-- MY CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="76x76" href="{% static '/img/logo.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static '/img/logo.png' %}">
    <link rel="icon" type="image/png" href="{% static '/img/favidea.ico' %}" sizes="196x196">
    <link rel="icon" type="image/png" href="{% static '/img/favidea.ico' %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static '/img/favidea.ico' %}" sizes="32x32">


    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}
    <link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{%
                                                    static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
    {% block extrahead %}{% endblock %}
    {% block responsive %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
    {% if LANGUAGE_BIDI %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
    {% endblock %}
    {% block blockbots %}
    <meta name="robots" content="NONE,NOARCHIVE">
    {% endblock %}

</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
      data-admin-utc-offset="{% now " Z" %}">

{% block header %}
{% include "includes/header.html" %}
{% endblock header %}
{% load i18n %}

<main>
    <div class="container">
        <div class="row">

            <!-- Details informations -->
            <div class="col-xs-12">
                <section class="white-box">


                    <!-- Container -->
                    <div>

                        {% if not is_popup %}
                        <!-- Header -->


                        {% block usertools %}
                        {% if has_permission %}

                        <p>{% block welcome-msg %}</p>

                        {% trans 'Welcome,' %}
                        <strong>{% firstof user.get_short_name user.get_username %}</strong>.
                        {% endblock %}
                        {% block userlinks %}
                        {% if site_url %}
                        <a href="{{ site_url }}">{% trans 'View site' %}</a> /
                        {% endif %}
                        {% if user.is_active and user.is_staff %}
                        {% url 'django-admindocs-docroot' as docsroot %}
                        {% if docsroot %}
                        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                        {% endif %}
                        {% endif %}
                        {% if user.has_usable_password %}
                        <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                        {% endif %}
                        <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
                        {% endblock %}

                        {% endif %}
                        {% endblock %}
                        {% block nav-global %}{% endblock %}

                        <!-- END Header -->
                        {% block breadcrumbs %}
                        <div class="breadcrumbs">
                            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
                            {% if title %} &rsaquo; {{ title }}{% endif %}
                        </div>
                        {% endblock %}
                        {% endif %}

                        {% block messages %}
                        {% if messages %}
                        <ul class="messagelist">{% for message in messages %}
                            <li
                            {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endblock messages %}

                        <!-- Content -->
                        <div id="content" class="{% block coltype %}colM{% endblock %}">
                            {% block pretitle %}{% endblock %}
                            {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
                            {% block content %}
                            {% block object-tools %}{% endblock %}
                            {{ content }}
                            {% endblock %}

                            <br class="clear">
                        </div>
                        <!-- END Content -->


                    </div>
                    <!-- END Container -->


                    {% block footer %}
                    {% include "includes/footer.html" %}
                    {% endblock footer %}
                </section>
            </div>
        </div>
    </div>
</main>
</body>
</html>

