<section>

    <div class="container pt-5 pb-2">
        <div class="row ">
            <div class="col-12 text-right">
                Photoidea.by ©
            </div>
        </div>
    </div>
</section>