{% load static %}

<!-- HEADER -->
<header class="navbar-fixed-top">
    <div class="container">
        <div class="row">

            <!-- HEADER TOP -->
            <div class="col-lg-12">
                <div class="header-top">

                    <div class="header-top-logo">
                        <a href="/" title="Event.Photoidea.by"><img
                                src="{% static '/img/photoidea_logo.jpg' %}"
                                alt="PI_logo" data-rjs="2">
                        </a>
                    </div>
                    <div class="header-top-text">
                        <p><span class="font-italic">Онлайн бронирование фотобудок    |</span>
                            <a href="{% url 'cost' %}" title="Перейти к рассчёту">Рассчитать <i class="pe-7s-piggy"></i></a>
                        </p>
                    </div>


                    <nav class="header-top-nav">
                        <ul>
                            <li class="header-top-nav-search">
                                <a href="#" class="light-link" title="Search"><i class="pe-7s-search"></i></a>
                                <form action="." method="get">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <button type="submit"><i class="pe-7s-search"></i></button>
                                </form>




                            </li>
                            <li><a href="#" class="light-link" title="Menu">
                                <div id="menu-animate-icon" class="header-top-nav-menu-icon">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- end HEADER TOP -->

            <!-- HEADER NAVIGATION -->
            <div class="col-lg-12">
                <nav class="header-nav">
                    <ul>
                        <li><a href="/" title="Главная страница Event.Photoidea.by">Главная страница</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" title="Расчет и бронирование">Заказы</a>
                            <ul class="dropdown-menu">
                                <li class="nav-elipse-blue"><a href="{% url 'cost'%}"
                                                               title="Рассчитать стоимость">Рассчёт</a>
                                </li>
                                <li class="nav-elipse-red"><a href="{% url 'order'%}" title="Забронировать на дату">Бронирование</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" title="">Наши ресурсы</a>
                            <ul class="dropdown-menu">
                                <li class="nav-elipse-red"><a href="{% url 'post_list'%}"
                                                              title="Блог Photoidea">Блог</a></li>
                                <li class="nav-elipse-blue"><a href="http://photoidea.by/" title="Главный сайт">
                                    Photoidea.by</a></li>
                                <li class="nav-elipse-yellow"><a href="http://orlovkiril.com"
                                                                 title="Сайт нашего фотографа">Фотограф</a></li>
                                <li class="nav-elipse-green"><a href="http://photoidea.by/index.php/galereya"
                                                                title="">Фотоотчеты</a></li>

                            </ul>
                        </li>
                        <li><a href="{% url 'about_me' %}" title="Кратко о компании ">О нас</a></li>
                        <li><a href="{% url 'contact' %}" title="Основные контакты Photoidea">Наши контакты</a></li>
                        {% if user.is_authenticated %}
                        <li class="buyproducts-link"><a href={% url 'logout_view' %} title="Log OUT">LOG
                            OUT:[{{user.username}}]</a>

                            {% else %}
                        <li class="buyproducts-link"><a href={% url 'login_view' %} title="Log IN">LOG IN</a>
                            {% endif %}
                    </ul>
                </nav>
            </div>

        </div>
        <!-- end HEADER NAVIGATION -->

    </div>
</header>
<!-- end HEADER -->
<!-- MOBILE NAVIGATION -->

<nav class="mobile-nav header-nav">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Auto Copy Header Navigation -->
            </div>
        </div>
    </div>
</nav>

<!-- end MOBILE NAVIGATION -->