@charset "UTF-8";
/*-----------------------------------------------------------------------------------
        Template Name: DBlog
        File Name: main.scss
        Author: Damian Komoński (komon.ski)
        Version: 1.0
-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------

[CONTENT]

0. Variables
1. Default Styles
---1.1 Fonts & Colors
---1.2 Buttons & Links
---1.3 Forms
2. Body
---2.1 Header
---2.2 Mobile Navigation
---2.3 Banner Posts
---2.4 Main
---2.5 Articles
---2.6 Author
---2.7 Aside Block
---2.8 Categories
---2.9 Advertisement
---2.10 Last Project
---2.11 Tasks
---2.12 Footer
---2.13 About me - Detail info
---2.14 Blog List
---2.15 Blog Post
---2.16 Article Nav
---2.17 Contact
---2.18 Portfolio
---2.19 Shop

-----------------------------------------------------------------------------------*/
/*-------------------------------------- 0. Variables --------------------------------------*/
.tether-element, .tether-element *, .tether-element :after, .tether-element :before, .tether-element:after, .tether-element:before {
  box-sizing: border-box; }

.tether-element {
  position: absolute;
  display: none; }

.tether-element.tether-open {
  display: block; }

/*-------------------------------------- 1. Default Styles --------------------------------------*/
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #757575;
  background-color: #f5f8f9; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.clear {
  clear: both; }

.italic {
  font-style: italic; }

/*Set xl breakpoint on lg breakpoint*/
@media (min-width: 1200px) {
  .container {
    width: 940px; } }

.white-box {
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  margin-top: 30px;
  padding: 50px 44px; }
  @media (max-width: 575px) {
    .white-box {
      padding: 40px 30px; } }

.white-box2 {
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  margin-top: 30px;
  padding: 50px 85px; }
  @media (max-width: 575px) {
    .white-box2 {
      padding: 40px 30px; } }

/*-------------------------------------- 1.1 Fonts & Colors --------------------------------------*/
p {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.05px;
  line-height: 31px; }
  @media (max-width: 767px) {
    p {
      font-size: 15px;
      line-height: 30px; } }

table {   font-size: 16px;
	 width: 600px;}

th, td {padding: 3px 15px;
	font-family: "Merriweather", serif;}

textarea  {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 200px;
    width: 220px;
    font-size: 12px;
    
}

p.font-primary {
  margin: 10px 0 16px;
  font-family: "Lato", sans-serif;
  color: #a6a9ac;
  font-size: 15px;
  line-height: 24px; }

h1, .h1 {
  font-size: 32px;
  line-height: 46px; }
  @media (max-width: 767px) {
    h1, .h1 {
      font-size: 28px;
      line-height: 40px; } }

h2, .h2 {
  font-size: 24px;
  line-height: 32px; }

h3, .h3 {
  font-size: 18px; }

h4, .h4 {
  font-size: 15px; }

h5, .h5 {
  font-size: 12px;
  font-weight: 700;
  color: #212121; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: 900;
  color: #ff0793; }

.black {
  color: #212121; }
  .black:hover {
    color: #212121; }

.blue {
  color: #38b7ea; }
  .blue:hover {
    color: #38b7ea; }

.red {
  color: #ff7473; }
  .red:hover {
    color: #ff7473; }

.yellow {
  color: #ffc952; }
  .yellow:hover {
    color: #ffc952; }

.green {
  color: #6dc8bf; }
  .green:hover {
    color: #6dc8bf; }

.yellow {
  color: #ffc952; }
  .yellow:hover {
    color: #ffc952; }

.grey {
  color: #a6a9ac; }
  .grey:hover {
    color: #a6a9ac; }

.list-title {
  font-family: "Merriweather", serif;
  font-weight: 400;
  margin: 20px 0 28px; }
  @media (max-width: 575px) {
    .list-title {
      font-size: 15px; } }

/*-------------------------------------- 1.2 Buttons & Links --------------------------------------*/
a {
  color: #673AB7;
  transition: all 0.2s ease-in-out; }
  a:hover {
    text-decoration: underline;
    color: inherit;
    cursor: pointer; }
    a:hover i {
      text-decoration: none; }
  a:focus {
    color: #212121; }
  a.light-link {
    color: #a6a9ac;
    text-decoration: none; }
    a.light-link:hover {
      color: #212121;
      text-decoration: none; }

a.dark-link {
  color: #212121;
  text-decoration: none; }
  a.dark-link:hover {
    color: #a6a9ac;
    text-decoration: none; }

.btn {
  border: 1px solid #a6a9ac;
  border-radius: 30px;
  padding: 10px 34px;
  background: #ffffff;
  color: #a6a9ac;
  transition: all 0.2s ease-in-out; }
  .btn:hover {
    background: #212121;
    border-color: #212121;
    color: #ffffff;
    text-decoration: none; }
    .btn:hover a {
      color: #ffffff;
      text-decoration: none; }
  .btn:focus {
    outline: none; }
  .btn:active {
    outline: none; }
  .btn a {
    color: #a6a9ac; }

.btn-grey {
  background: #a6a9ac;
  color: #ffffff; }
  .btn-grey:hover {
    background: #212121; }

.btn-light-blue {
  background: #f5f8f9; }

.btn-small {
  font-size: 13px;
  padding: 8px 20px; }

.btn-small-white {
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 16px;
  padding: 6px 22px;
  font-size: 15px; }
  .btn-small-white:hover {
    background: #a6a9ac; }
    .btn-small-white:hover a {
      color: #ffffff;
      text-decoration: none; }
  .btn-small-white a {
    color: #a6a9ac; }

#menu-animate-icon {
  width: 24px;
  height: 22px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }
  #menu-animate-icon:hover span {
    background: #212121; }
  #menu-animate-icon span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #a6a9ac;
    border-radius: 0;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
    #menu-animate-icon span:nth-child(1) {
      top: 0px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center; }
    #menu-animate-icon span:nth-child(2) {
      top: 8px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center; }
    #menu-animate-icon span:nth-child(3) {
      top: 16px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center; }
  #menu-animate-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  #menu-animate-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0; }
  #menu-animate-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 0px; }

/*-------------------------------------- 1.3 Forms --------------------------------------*/
.form-control {
  border: none;
  border-bottom: 1px solid #a6a9ac;
  border-radius: 0;
  font-size: 15px;
  color: #a6a9ac;
  padding: 12px 0;
  line-height: 24px;
  transition: all 0.2s ease-in-out; }
  .form-control:active {
    border-color: #212121; }
  .form-control:focus {
    border-color: #212121; }

/*-------------------------------------- 2. Body --------------------------------------*/
/*-------------------------------------- 2.1 Header --------------------------------------*/
header {
  height: 144px;
  box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.04);
  background: #ffffff; }
  @media (max-width: 991px) {
    header {
      height: 70px;
      border: none; } }

.header-top {
  border-bottom: 1px solid #eceff2;
  padding: 15px 0 14px;
  text-align: center;
  position: relative;
  overflow: auto;
  min-height: 75px;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 991px) {
    .header-top {
      border-bottom: none; } }
  .header-top .header-top-logo {
    transition: all 0.2s ease-in-out;
    float: left;
    margin-top: 3px; }
    .header-top .header-top-logo:hover {
      opacity: 0.7;
      cursor: pointer; }
  .header-top .header-top-text {
    font-family: "Lato", sans-serif;
    color: #a6a9ac; }
    @media (max-width: 991px) {
      .header-top .header-top-text {
        display: none; } }
    .header-top .header-top-text p {
      font-family: inherit;
      color: inherit;
      margin: inherit; }
      .header-top .header-top-text p a:hover {
        text-decoration: none; }
      .header-top .header-top-text p a i {
        font-size: 26px;
        vertical-align: middle;
        margin-left: -3px; }
  .header-top .header-top-nav {
    float: right;
    min-height: 28px; }
    .header-top .header-top-nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .header-top .header-top-nav ul li {
        float: left;
        margin: 0 10px; }
        @media (min-width: 992px) {
          .header-top .header-top-nav ul li {
            margin: 0; } }
        .header-top .header-top-nav ul li:first-child {
          margin-left: 0; }
        .header-top .header-top-nav ul li:last-child {
          margin-right: 0; }
        .header-top .header-top-nav ul li a {
          font-size: 28px;
          padding: 12px 0 8px; }
          .header-top .header-top-nav ul li a:hover {
            color: #212121; }
        .header-top .header-top-nav ul li .header-top-nav-menu-icon {
          display: none;
          margin-top: 11px; }
          @media (max-width: 991px) {
            .header-top .header-top-nav ul li .header-top-nav-menu-icon {
              display: block; } }
      .header-top .header-top-nav ul .header-top-nav-search .open {
        display: block; }
      .header-top .header-top-nav ul .header-top-nav-search form {
        position: relative;
        margin: -3px 0 -4px;
        width: 200px;
        display: none; }
        @media (max-width: 991px) {
          .header-top .header-top-nav ul .header-top-nav-search form {
            width: 300px; } }
        @media (max-width: 575px) {
          .header-top .header-top-nav ul .header-top-nav-search form {
            width: 200px; } }
        .header-top .header-top-nav ul .header-top-nav-search form input {
          padding: 12px 40px 12px 0; }
        .header-top .header-top-nav ul .header-top-nav-search form button {
          background: none;
          padding: 0;
          margin: 0;
          border: none;
          position: absolute;
          top: 3px;
          right: 0;
          font-size: 28px;
          color: #a6a9ac;
          transition: color 0.4s ease-in-out; }
          .header-top .header-top-nav ul .header-top-nav-search form button:hover {
            color: #212121; }

.header-nav {
  padding: 22px 0;
  width: 100%; }
  @media (max-width: 991px) {
    .header-nav {
      display: none; } }
  .header-nav ul {
    margin: 0;
    padding: 0; }
    .header-nav ul > li > a {
      padding-bottom: 36px; }
    .header-nav ul li {
      float: left;
      list-style-type: none;
      margin: 0 20px; }
      .header-nav ul li:first-child {
        margin-left: 0; }
      .header-nav ul li.dropdown > a {
        padding-bottom: 28px; }
      .header-nav ul li a {
        padding: 0;
        display: inline-block;
        color: #a6a9ac;
        text-decoration: none; }
        .header-nav ul li a:hover {
          color: #212121;
          text-decoration: none; }
    .header-nav ul .buyproducts-link {
      margin-left: 38px;
      float: right;
      margin-right: 0; }
      .header-nav ul .buyproducts-link a {
        position: relative; }
        .header-nav ul .buyproducts-link a:before {
          font-family: 'Pe-icon-7-stroke';
          content: '\e6a9';
          font-size: 26px;
          position: absolute;
          top: -9px;
          left: -34px; }
    .header-nav ul .active > a {
      color: #212121; }
    .header-nav ul .dropdown.open > .dropdown-toggle:after {
      content: "\e682"; }
    .header-nav ul .dropdown.open > .dropdown-menu {
      display: block; }
    @media (min-width: 768px) {
      .header-nav ul .dropdown:hover .dropdown-menu {
        display: block; } }
    .header-nav ul .dropdown .dropdown-toggle {
      position: relative;
      margin-right: 8px; }
      .header-nav ul .dropdown .dropdown-toggle:after {
        position: absolute;
        top: -4px;
        right: 1px;
        font-family: 'Pe-icon-7-stroke';
        content: "\e688";
        margin: 0 0 0 -2px;
        padding: 0;
        border: none;
        font-size: 24px; }
    .header-nav ul .dropdown .dropdown-menu {
      width: 190px;
      background: #ffffff;
      border: none;
      border-radius: 0;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05); }
      .header-nav ul .dropdown .dropdown-menu li {
        float: none;
        margin: 0;
        position: relative;
        border-bottom: 1px solid #eceff2;
        font-size: 15px; }
        .header-nav ul .dropdown .dropdown-menu li:hover a:hover {
          background: #f5f8f9; }
          @media (max-width: 991px) {
            .header-nav ul .dropdown .dropdown-menu li:hover a:hover {
              background: none; } }
        .header-nav ul .dropdown .dropdown-menu li:last-child a {
          border-bottom: none; }
        .header-nav ul .dropdown .dropdown-menu li a {
          display: block;
          padding: 16px 22px; }
        .header-nav ul .dropdown .dropdown-menu li[class^=nav-elipse-]:after {
          position: absolute;
          content: '';
          top: calc(50% - 4px);
          right: 22px;
          height: 8px;
          width: 8px;
          background: #a6a9ac;
          border-radius: 8px; }
        .header-nav ul .dropdown .dropdown-menu li.nav-elipse-blue:after {
          background: #38b7ea; }
        .header-nav ul .dropdown .dropdown-menu li.nav-elipse-red:after {
          background: #ff7473; }
        .header-nav ul .dropdown .dropdown-menu li.nav-elipse-yellow:after {
          background: #ffc952; }
        .header-nav ul .dropdown .dropdown-menu li.nav-elipse-green:after {
          background: #6dc8bf; }

  
         ul .buyproducts-link- a:after {
          font-family: 'Pe-icon-7-stroke';
          content: '\e6a9';
          font-size: 15px;
	  position: absolute;
   	  right: 29px; }

/*-------------------------------------- 2.2 Mobile Navigation --------------------------------------*/
.noscroll {
  overflow: hidden; }

.mobile-nav {
  background: #ffffff;
  padding: 10px 0;
  position: fixed;
  height: 100%;
  overflow: scroll;
  display: none;
  z-index: 3;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08); }
  .mobile-nav ul li {
    float: none;
    margin: 0; }
    .mobile-nav ul li:last-child a {
      border-bottom: none; }
    .mobile-nav ul li a {
      padding: 18px 0;
      display: block;
      border-bottom: 1px solid #eceff2; }
      .mobile-nav ul li a:focus {
        color: #a6a9ac; }
    .mobile-nav ul li.dropdown > a {
      padding-bottom: 18px; }
  @media (max-width: 991px) {
    .mobile-nav ul .buyproducts-link {
      float: none; } }
  .mobile-nav ul .buyproducts-link a:before {
    top: 8px; }
  .mobile-nav ul .dropdown .dropdown-toggle {
    margin-right: 0; }
    .mobile-nav ul .dropdown .dropdown-toggle:after {
      top: 14px;
      right: 20px; }
  .mobile-nav ul .dropdown .dropdown-menu {
    position: static;
    float: none;
    width: 100%;
    background: none;
    box-shadow: none;
    z-index: 99; }
    .mobile-nav ul .dropdown .dropdown-menu li {
      border-bottom: none; }
      .mobile-nav ul .dropdown .dropdown-menu li a .nav-elipse:after {
        float: none;
        margin: 0 0 0 10px; }

.mobile-nav-open {
  display: block !important; }

/*-------------------------------------- 2.3 Banner Posts --------------------------------------*/
.banners {
  padding: 40px 0 0;
  margin-bottom: -20px; }
  @media (max-width: 575px) {
    .banners {
      padding: 20px 0; } }
  .banners .banner-wrapper {
    position: relative;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    padding: 6px;
    margin-bottom: 20px; }
    @media (max-width: 767px) {
      .banners .banner-wrapper {
        margin-bottom: 15px; }
        .banners .banner-wrapper .img-fluid {
          width: 100%; } }
    @media (max-width: 575px) {
      .banners .banner-wrapper {
        margin-bottom: 10px; } }
    .banners .banner-wrapper a:hover .banner-wrapper-content {
      background-color: rgba(0, 0, 0, 0.3);
      transition: background-color 0.2s ease-in-out; }
    .banners .banner-wrapper a .banner-wrapper-content {
      position: absolute;
      z-index: 2;
      padding: 22px 30px;
      width: calc(100% - 12px);
      height: calc(100% - 12px); }
      @media (max-width: 575px) {
        .banners .banner-wrapper a .banner-wrapper-content {
          background: rgba(0, 0, 0, 0.15); } }
      .banners .banner-wrapper a .banner-wrapper-content h1 {
        color: #ffffff; }
      .banners .banner-wrapper a .banner-wrapper-content .category-tag {
        display: inline-block;
        border-width: 1px;
        border-style: solid;
        border-radius: 10px;
        padding: 1px 8px;
        font-size: 12px;
        text-transform: uppercase; }
      .banners .banner-wrapper a .banner-wrapper-content .category-tag-white {
        color: #ffffff;
        border-color: #ffffff; }
      .banners .banner-wrapper a .banner-wrapper-content .category-tag-yellow {
        color: #ffc952;
        border-color: #ffc952; }
      .banners .banner-wrapper a .banner-wrapper-content .category-tag-green {
        color: #6dc8bf;
        border-color: #6dc8bf; }
      .banners .banner-wrapper a .banner-wrapper-content .category-tag-blue {
        color: #38b7ea;
        border-color: #38b7ea; }
      .banners .banner-wrapper a .banner-wrapper-content time {
        position: absolute;
        bottom: 22px;
        left: 30px;
        color: #f5f8f9;
        font-size: 15px; }
  .banners img {
    width: 100%; }

/*-------------------------------------- 2.4 Main --------------------------------------*/
main {
  margin: 40px 0; }
  @media (max-width: 767px) {
    main {
      margin: 20px 0; } }

/*-------------------------------------- 2.5 Articles --------------------------------------*/
@media (max-width: 767px) {
  .articles {
    margin-bottom: 30px; } }

.articles article {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  margin: 30px 0; }
  .articles article:first-child {
    margin-top: 0; }
  @media (max-width: 767px) {
    .articles article {
      margin: 40px 0; }
      .articles article:first-child {
        margin-top: 30px; } }
  .articles article[class*="-article"]:before {
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: -15px;
    content: ''; }
    @media (max-width: 767px) {
      .articles article[class*="-article"]:before {
        top: -15px;
        left: 0; } }
  .articles article.blue-article:before {
    background: #38b7ea; }
  .articles article.blue-article .articles-header-tag {
    border-color: #38b7ea;
    color: #38b7ea; }
  .articles article.blue-article .articles-header-category a {
    color: #38b7ea; }
    .articles article.blue-article .articles-header-category a:hover {
      color: #38b7ea; }
  .articles article.red-article:before {
    background: #ff7473; }
  .articles article.red-article .articles-header-tag {
    border-color: #ff7473;
    color: #ff7473; }
  .articles article.red-article .articles-header-category a {
    color: #ff7473; }
    .articles article.red-article .articles-header-category a:hover {
      color: #ff7473; }
  .articles article.yellow-article:before {
    background: #ffc952; }
  .articles article.yellow-article .articles-header-tag {
    border-color: #ffc952;
    color: #ffc952; }
  .articles article.yellow-article .articles-header-category a {
    color: #ffc952; }
    .articles article.yellow-article .articles-header-category a:hover {
      color: #ffc952; }
  .articles article.green-article:before {
    background: #6dc8bf; }
  .articles article.green-article .articles-header-tag {
    border-color: #6dc8bf;
    color: #6dc8bf; }
  .articles article.green-article .articles-header-category a {
    color: #6dc8bf; }
    .articles article.green-article .articles-header-category a:hover {
      color: #6dc8bf; }
  .articles article .articles-preview-img {
    position: relative;
    width: 100%;
    height: auto; }
    .articles article .articles-preview-img img {
      width: 100%;
      height: auto; }
    .articles article .articles-preview-img .owl-page {
      display: none; }
    .articles article .articles-preview-img .owl-controls {
      margin-top: 0; }
      .articles article .articles-preview-img .owl-controls .owl-nav {
        position: absolute;
        bottom: 15px;
        right: 15px; }
        .articles article .articles-preview-img .owl-controls .owl-nav div {
          display: inline-block;
          background: #ffffff;
          color: #a6a9ac;
          opacity: 0.7;
          padding: 0 2px;
          margin-right: 10px;
          height: 37px;
          border-radius: 20px;
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1); }
          .articles article .articles-preview-img .owl-controls .owl-nav div:last-child {
            margin-right: 0; }
          .articles article .articles-preview-img .owl-controls .owl-nav div:hover {
            opacity: 1; }
          .articles article .articles-preview-img .owl-controls .owl-nav div i {
            font-size: 38px; }
  .articles article .articles-preview-vimeo {
    padding-top: 57%;
    width: 100%;
    position: relative; }
    .articles article .articles-preview-vimeo iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
  .articles article .articles-header {
    color: #a6a9ac;
    padding: 28px 0;
    margin: 0 32px;
    border-bottom: 1px solid #eceff2; }
    .articles article .articles-header span[class^="articles-header-tag"] {
      border: 1px solid;
      border-radius: 20px;
      text-transform: uppercase;
      font-size: 12px;
      padding: 2px 7px;
      margin: 0 6px; }
    .articles article .articles-header .articles-header-category {
      display: inline-block;
      float: right; }
  .articles article .articles-content {
    padding: 0 32px; }
    .articles article .articles-content h1 {
      margin: 26px 0; }
    .articles article .articles-content .primary-quote {
      padding-left: 70px;
      position: relative;
      font-family: "Merriweather", serif;
      font-size: 18px;
      line-height: 32px; }
      .articles article .articles-content .primary-quote:before {
        content: "\f10e";
        font-family: FontAwesome;
        color: #212121;
        font-size: 36px;
        position: absolute;
        top: 5px;
        left: 12px; }
      @media (max-width: 575px) {
        .articles article .articles-content .primary-quote {
          padding-left: 0;
          margin-top: 6px; }
          .articles article .articles-content .primary-quote:before {
            display: block;
            position: static;
            margin-bottom: 12px; } }
      .articles article .articles-content .primary-quote .primary-quote-author {
        color: #a6a9ac; }
    .articles article .articles-content .secondary-quote {
      font-style: italic;
      color: #212121;
      font-family: "Merriweather", serif;
      font-size: 18px;
      padding-left: 28px;
      position: relative;
      line-height: 34px;
      margin: 36px 0; }
      @media (max-width: 575px) {
        .articles article .articles-content .secondary-quote {
          font-size: 15px;
          line-height: 30px; } }
      .articles article .articles-content .secondary-quote:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        background-color: #212121; }

.articles nav {
  text-align: center;
  border-top: 1px solid #eceff2;
  padding: 30px 0;
  overflow: auto; }
  @media (max-width: 767px) {
    .articles nav {
      padding: 15px 0;
      margin-top: -15px; } }
  .articles nav .pagination-back {
    float: left; }
  .articles nav .pagination {
    margin: 6px 0; }
    @media (max-width: 767px) {
      .articles nav .pagination {
        display: none; } }
    .articles nav .pagination .page-item.active a {
      background: #a6a9ac;
      color: #ffffff; }
    .articles nav .pagination .page-item .page-link {
      border: none;
      background: #ffffff;
      border-radius: 0;
      color: #a6a9ac;
      font-size: 15px;
      padding: 2px 8px;
      margin: 0 4px;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05); }
      .articles nav .pagination .page-item .page-link:hover {
        background: #a6a9ac;
        color: #ffffff;
        text-decoration: none; }
    .articles nav .pagination .page-item-more a {
      background: none;
      border: none;
      box-shadow: none; }
      .articles nav .pagination .page-item-more a:hover {
        color: #212121; }
  .articles nav .pagination-next {
    float: right; }

.articles-footer {
  padding: 20px 32px 32px; }
  @media (max-width: 575px) {
    .articles-footer {
      margin: 18px 0 8px; }
      .articles-footer > button {
        width: 100%; } }
  .articles-footer > ul {
    list-style-type: none;
    text-decoration: none;
    float: right;
    margin-top: 11px;
    overflow: hidden; }
    @media (max-width: 575px) {
      .articles-footer > ul {
        float: none;
        margin: 0 0 20px 0;
        padding-left: 0; } }
    .articles-footer > ul li {
      float: left;
      margin-left: 22px; }
      .articles-footer > ul li:first-child {
        margin-left: 0; }
      .articles-footer > ul li a {
        position: relative;
        margin-left: 40px;
        color: #a6a9ac;
        text-decoration: none; }
        .articles-footer > ul li a:hover {
          color: #212121;
          text-decoration: none; }
        @media (max-width: 575px) {
          .articles-footer > ul li a {
            font-size: 15px;
            margin-left: 34px; } }
        .articles-footer > ul li a i {
          font-size: 32px;
          position: absolute;
          left: -42px;
          top: -6px;
          color: #212121; }
          @media (max-width: 575px) {
            .articles-footer > ul li a i {
              font-size: 30px;
              left: -37px; } }

/*-------------------------------------- 2.6 Author --------------------------------------*/
.author {
  background: #ffffff;
  text-align: center;
  padding: 45px 0 0;
  margin-top: 0;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05); }
  .author img {
    margin-bottom: 18px; }
  .author h2 {
    font-size: 17px;
    font-weight: 400; }
  .author .author-info {
    color: #a6a9ac;
    display: block;
    font-size: 15px;
    margin-bottom: 2px; }
  .author .social {
    margin: 20px 0 27px; }
    .author .social a {
      font-size: 34px;
      color: #cccfd3;
      margin: 0 3px; }
      .author .social a:hover {
        color: #212121; }
  .author .author-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left; }
    .author .author-nav li a {
      padding: 11px 38px 17px;
      font-size: 15px;
      display: block;
      color: #a6a9ac;
      border-top: 1px solid #eceff2; }
      .author .author-nav li a:hover {
        text-decoration: none;
        background: #f5f8f9;
        color: #212121; }
      .author .author-nav li a i {
        position: relative;
        top: 6px;
        left: -12px;
        font-size: 28px; }

/*-------------------------------------- 2.7 Aside Block --------------------------------------*/
@media (max-width: 991px) {
  .aside-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; } }

.aside-blocks aside {
  margin-top: 30px;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05); }
  .aside-blocks aside:first-child {
    margin-top: 0; }
  @media (max-width: 991px) {
    .aside-blocks aside:first-child {
      margin-top: 30px; } }
  @media (max-width: 991px) {
    .aside-blocks aside {
      width: calc(50% - 15px); }
      .aside-blocks aside:nth-child(odd) {
        margin-right: 30px; } }
  @media (max-width: 575px) {
    .aside-blocks aside {
      width: 100%;
      margin-right: 0; } }
  .aside-blocks aside .aside-title {
    background: #fafcfc;
    font-size: 18px;
    font-weight: 400;
    color: #a6a9ac;
    padding: 18px 29px;
    border-bottom: 1px solid #eceff2;
    margin: 0; }

/*-------------------------------------- 2.8 Categories --------------------------------------*/
.categories ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .categories ul li {
    position: relative; }
    .categories ul li[class^=nav-elipse-]:after {
      position: absolute;
      content: '';
      top: calc(50% - 4px);
      right: 29px;
      height: 8px;
      width: 8px;
      background: #a6a9ac;
      border-radius: 8px; }
    .categories ul li.nav-elipse-blue:after {
      background: #38b7ea; }
    .categories ul li.nav-elipse-red:after {
      background: #ff7473; }
    .categories ul li.nav-elipse-yellow:after {
      background: #ffc952; }
    .categories ul li.nav-elipse-green:after {
      background: #6dc8bf; }
    .categories ul li:last-child a {
      border-bottom: none; }
    .categories ul li a {
      padding: 19px 29px;
      display: block;
      border-bottom: 1px solid #eceff2;
      font-size: 15px;
      color: #a6a9ac; }
      .categories ul li a:hover {
        background: #f5f8f9;
        text-decoration: none; }

/*-------------------------------------- 2.9 Advertisement --------------------------------------*/
.advertisement {
  padding: 6px;
  text-align: center; }
  .advertisement a:hover {
    opacity: 0.7; }
  .advertisement a img {
    width: 100%;
    height: 100%; }

/*-------------------------------------- 2.10 Last Project --------------------------------------*/
.last-project .last-project-one {
  padding: 29px; }
  .last-project .last-project-one h3 {
    font-weight: 400;
    color: #212121;
    margin-bottom: 3px; }
  .last-project .last-project-one time {
    font-size: 13px;
    color: #a6a9ac; }

/*-------------------------------------- 2.11 Tags --------------------------------------*/
.tags .tags-content {
  padding: 29px 29px 22px; }

.tag {
  background: none;
  padding: 0 5px 9px 0; }
  .tag:first-child {
    padding-left: 0; }
  .tag a {
    display: block;
    font-weight: 400;
    color: #a6a9ac;
    font-size: 12px;
    background: #ffffff;
    border: 1px solid #a6a9ac;
    padding: 5px 12px;
    border-radius: 10rem; }
    .tag a:hover {
      text-decoration: none;
      background: #a6a9ac;
      color: #ffffff; }

/*-------------------------------------- 2.12 Footer --------------------------------------*/
footer {
  padding: 32px 0 0 0;
  margin-top: 40px;
  background: #ffffff; }
  footer .border-bottom {
    border-bottom: 1px solid #eceff2; }
  footer .footer-section {
    margin: 38px 0; }
    footer .footer-section > h3 {
      font-weight: 400;
      color: #a6a9ac;
      margin-bottom: 42px; }
    footer .footer-section .footer-section-newsletter {
      margin-bottom: 34px; }
    footer .footer-section .footer-section-title-img {
      margin-bottom: 22px; }
    footer .footer-section .footer-section-content {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      footer .footer-section .footer-section-content .footer-section-content-response {
        border-bottom: 1px solid #eceff2;
        padding: 25px 0; }
        footer .footer-section .footer-section-content .footer-section-content-response:first-child {
          padding-top: 0; }
        footer .footer-section .footer-section-content .footer-section-content-response:last-child {
          border-bottom: none; }
        footer .footer-section .footer-section-content .footer-section-content-response img {
          width: 56px;
          height: 56px;
          margin-right: 18px;
          float: left; }
        footer .footer-section .footer-section-content .footer-section-content-response .footer-section-content-response-wrapper {
          overflow: auto; }
          footer .footer-section .footer-section-content .footer-section-content-response .footer-section-content-response-wrapper h4 {
            color: #a6a9ac;
            font-size: 15px;
            font-weight: 400;
            line-height: 23px; }
            footer .footer-section .footer-section-content .footer-section-content-response .footer-section-content-response-wrapper h4 .response-author {
              color: #212121; }
            footer .footer-section .footer-section-content .footer-section-content-response .footer-section-content-response-wrapper h4 .response-subject {
              text-decoration: underline; }
          footer .footer-section .footer-section-content .footer-section-content-response .footer-section-content-response-wrapper p {
            margin-bottom: 0; }
      footer .footer-section .footer-section-content .footer-section-content-twitt {
        position: relative;
        padding: 0 0 10px 44px;
        margin: 22px 0 0px;
        border-bottom: 1px solid #eceff2; }
        footer .footer-section .footer-section-content .footer-section-content-twitt:first-child {
          margin: 4px 0 0px;
          padding: 0 0 7px 44px; }
        footer .footer-section .footer-section-content .footer-section-content-twitt:last-child {
          border-bottom: none; }
        footer .footer-section .footer-section-content .footer-section-content-twitt:before {
          content: '\0049';
          font-family: 'social icons';
          color: #38b7ea;
          font-size: 27px;
          position: absolute;
          top: 0;
          left: 0; }
        footer .footer-section .footer-section-content .footer-section-content-twitt h4 {
          display: inline;
          font-weight: 400; }
        footer .footer-section .footer-section-content .footer-section-content-twitt time {
          display: inline;
          color: #a6a9ac;
          font-size: 13px;
          margin-left: 10px; }
      footer .footer-section .footer-section-content .footer-section-content-about {
        margin-bottom: 36px; }
  footer .copyright {
    border-top: 1px solid #eceff2;
    padding: 20px 0;
    overflow: auto;
    vertical-align: middle; }
    @media (max-width: 575px) {
      footer .copyright {
        text-align: center; } }
    footer .copyright p {
      float: left;
      margin: 4px 0 0; }
      @media (max-width: 575px) {
        footer .copyright p {
          float: none; } }
    footer .copyright ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      footer .copyright ul li {
        float: right; }
        @media (max-width: 575px) {
          footer .copyright ul li {
            float: none;
            display: inline; } }
        footer .copyright ul li a {
          font-size: 26px;
          color: #cccfd3;
          margin: 0 4px; }
          footer .copyright ul li a:hover {
            color: #212121; }

.social a {
  font-size: 26px;
  color: #cccfd3;
  margin: 0 1px; }
  .social a:hover {
    color: #212121; }

/*-------------------------------------- 2.13 About me - General info --------------------------------------*/
.general-info {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin-top: 0; }
  @media (max-width: 767px) {
    .general-info {
      flex-direction: column; } }
  .general-info .author {
    flex-basis: 27%;
    box-shadow: none;
    border-right: 1px solid #eceff2; }
    @media (max-width: 991px) {
      .general-info .author {
        flex-basis: 34%; } }
    .general-info .author img {
      margin-bottom: 48px; }
    .general-info .author .author-nav li:last-child a {
      border-bottom: 1px solid #eceff2; }
  .general-info .general-info-right {
    flex-basis: 73%;
    padding: 50px 40px;
    position: relative; }
    @media (max-width: 991px) {
      .general-info .general-info-right {
        flex-basis: 66%; } }
    @media (max-width: 575px) {
      .general-info .general-info-right {
        padding: 40px 30px; } }
    .general-info .general-info-right h1 {
      float: left; }
      @media (max-width: 991px) {
        .general-info .general-info-right h1 {
          max-width: 244px; } }
      @media (max-width: 767px) {
        .general-info .general-info-right h1 {
          max-width: 334px; } }
      @media (max-width: 575px) {
        .general-info .general-info-right h1 {
          float: none; } }
    .general-info .general-info-right .social {
      float: right; }
      @media (max-width: 575px) {
        .general-info .general-info-right .social {
          float: left; } }
      .general-info .general-info-right .social a {
        font-size: 34px;
        color: #cccfd3;
        margin: 0 3px; }
        .general-info .general-info-right .social a:hover {
          color: #212121; }
    .general-info .general-info-right .general-info-right-author-info {
      color: #a6a9ac;
      font-size: 15px; }
    .general-info .general-info-right p {
      margin: 30px 0 30px; }

/*-------------------------------------- 2.13 About me - Detail info --------------------------------------*/
.detail-info {
  display: flex;
  margin-top: 30px; }
  @media (max-width: 767px) {
    .detail-info {
      flex-direction: column; } }
  .detail-info .detail-info-philosophy {
    flex-basis: 50%;
    padding-right: 22px; }
    .detail-info .detail-info-philosophy h2 {
      margin-bottom: 32px; }
    .detail-info .detail-info-philosophy p {
      font-size: 14px;
      line-height: 27px; }
      .detail-info .detail-info-philosophy p:last-child {
        margin-bottom: 0; }
  .detail-info .detail-info-skills {
    flex-basis: 50%;
    padding-left: 22px; }
    @media (max-width: 767px) {
      .detail-info .detail-info-skills {
        padding-left: 0;
        margin-top: 50px; } }
    .detail-info .detail-info-skills h2 {
      margin-bottom: 32px; }
    .detail-info .detail-info-skills ol {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .detail-info .detail-info-skills ol li {
        position: relative;
        margin-bottom: 30px; }
        .detail-info .detail-info-skills ol li:last-child {
          margin-bottom: 0; }
        .detail-info .detail-info-skills ol li span {
          transform: rotate(-90deg);
          display: block;
          font-size: 60px;
          line-height: 64px;
          color: #cccfd3;
          font-weight: 900;
          position: absolute;
          top: 0;
          left: -14px; }
        .detail-info .detail-info-skills ol li .detail-info-skills-right {
          padding-left: 70px; }
          .detail-info .detail-info-skills ol li .detail-info-skills-right h3 {
            margin-bottom: 10px;
            text-transform: uppercase; }
          .detail-info .detail-info-skills ol li .detail-info-skills-right p {
            font-size: 12px;
            font-style: italic;
            line-height: 22px; }

/*-------------------------------------- 2.13 About me - Counters --------------------------------------*/
.counters {
  display: block;
  overflow: auto; }
  @media (max-width: 767px) {
    .counters {
      padding: 40px 44px 24px; } }
  .counters .counters-one {
    width: 25%;
    text-align: center;
    margin-top: 18px;
    float: left; }
    @media (max-width: 767px) {
      .counters .counters-one {
        width: 50%;
        margin: 26px 0; } }
    @media (max-width: 575px) {
      .counters .counters-one {
        width: 100%; } }
    .counters .counters-one .counters-one-icon {
      width: 82px;
      height: 82px; }
      .counters .counters-one .counters-one-icon:hover i {
        color: #ffffff;
        background: #212121;
        border: none;
        cursor: pointer; }
      .counters .counters-one .counters-one-icon i {
        font-size: 42px;
        border: 2px solid #f5f8f9;
        padding: 18px; }
    .counters .counters-one h2 {
      margin-top: 30px; }
    .counters .counters-one p {
      font-size: 14px;
      margin-bottom: 0; }

/*-------------------------------------- 2.14 Blog list --------------------------------------*/
.category-title {
  margin: 10px 0 42px;
  overflow: auto;
  display: flex;
  align-items: center; }
  @media (max-width: 767px) {
    .category-title {
      margin: 0 0 30px; } }
  .category-title h1 {
    color: #cccfd3;
    font-weight: 400; }
  .category-title > span {
    margin-left: auto;
    color: #cccfd3; }

/*-------------------------------------- 2.15 Blog post --------------------------------------*/
.navbar-blog-post {
  box-shadow: none;
  height: 70px; }

.body-blog-post {
  background: #ffffff; }

.header-top-blog-post {
  border-bottom: none; }

.articles-blog-post {
  box-shadow: none; }
  @media (max-width: 767px) {
    .articles-blog-post {
      margin-top: -30px; } }
  .articles-blog-post .articles-header {
    margin: 0; }
  .articles-blog-post .articles-content {
    padding: 0;
    margin-bottom: 40px; }
    @media (min-width: 576px) {
      .articles-blog-post .articles-content .articles-content-blog-post-title {
        font-size: 42px;
        line-height: 62px; } }
    @media (min-width: 576px) {
      .articles-blog-post .articles-content p {
        font-size: 18px;
        line-height: 36px; } }
    .articles-blog-post .articles-content .articles-content-block {
      margin-top: 60px; }
    .articles-blog-post .articles-content .vimeo-movie {
      width: 100%;
      height: 418px;
      margin: 20px 0; }
    .articles-blog-post .articles-content ul {
      padding: 0;
      margin: 0;
      font-size: 18px;
      font-family: "Merriweather", serif; }
      @media (max-width: 575px) {
        .articles-blog-post .articles-content ul {
          font-size: 15px; } }
      .articles-blog-post .articles-content ul li {
        list-style-type: none;
        position: relative;
        padding-left: 40px;
        margin: 8px 0;
        line-height: 36px; }
        @media (max-width: 575px) {
          .articles-blog-post .articles-content ul li {
            line-height: 30px; } }
        .articles-blog-post .articles-content ul li:before {
          content: "";
          display: block;
          position: absolute;
          width: 6px;
          height: 6px;
          background-color: #757575;
          top: 14px;
          left: 12px;
          border-radius: 3px; }
    .articles-blog-post .articles-content pre {
      margin: 28px 0 40px; }
      .articles-blog-post .articles-content pre code[class*="language-"] {
        background: #f4f4f4;
        font-size: 16px;
        text-shadow: none; }
        @media (max-width: 575px) {
          .articles-blog-post .articles-content pre code[class*="language-"] {
            font-size: 13px; } }
  .articles-blog-post .articles-blog-post-share {
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
    border: 1px solid #eceff2; }
    .articles-blog-post .articles-blog-post-share > h3 {
      font-size: 15px;
      font-weight: 400;
      color: #a6a9ac;
      background: #fafcfc;
      padding: 20px 16px;
      color: #757575;
      border-bottom: 1px solid #eceff2;
      margin: 0; }
      @media (max-width: 991px) {
        .articles-blog-post .articles-blog-post-share > h3 {
          font-size: 16px; } }
    .articles-blog-post .articles-blog-post-share > div {
      padding: 10px 0; }
      .articles-blog-post .articles-blog-post-share > div ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        .articles-blog-post .articles-blog-post-share > div ul li {
          padding: 5px 16px; }
          @media (max-width: 991px) {
            .articles-blog-post .articles-blog-post-share > div ul li {
              padding: 8px 16px; } }
          .articles-blog-post .articles-blog-post-share > div ul li a {
            font-size: 13px;
            color: #757575;
            position: relative;
            padding-left: 20px; }
            @media (max-width: 991px) {
              .articles-blog-post .articles-blog-post-share > div ul li a {
                font-size: 16px;
                padding-left: 32px; } }
            .articles-blog-post .articles-blog-post-share > div ul li a i {
              position: absolute;
              left: 0;
              top: 1px; }
              @media (max-width: 991px) {
                .articles-blog-post .articles-blog-post-share > div ul li a i {
                  font-size: 18px; } }

.articles-info {
  background: #f5f8f9; }
  .articles-info .articles-info-section {
    padding: 18px 0; }
    .articles-info .articles-info-section:first-child {
      padding: 50px 0 18px; }
    .articles-info .articles-info-section:last-child {
      padding: 18px 0 50px; }
    @media (max-width: 575px) {
      .articles-info .articles-info-section:first-child {
        padding: 20px 0 18px; } }
    .articles-info .articles-info-section .articles-info-section-title {
      font-size: 18px;
      font-weight: 400;
      color: #757575;
      margin-bottom: 18px; }
  .articles-info .articles-footer {
    padding: 0; }
  .articles-info .articles-author {
    margin-top: 30px;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    padding: 25px; }
    .articles-info .articles-author img {
      height: 75px;
      width: 75px;
      float: left; }
    .articles-info .articles-author .articles-author-right {
      margin: 12px 0 0 100px;
      position: relative; }
      .articles-info .articles-author .articles-author-right h4 {
        font-weight: 400;
        margin-bottom: 15px; }
      .articles-info .articles-author .articles-author-right p {
        font-family: "Lato", sans-serif;
        line-height: 25px;
        color: #a6a9ac;
        font-size: 15px;
        margin-bottom: 0; }
      .articles-info .articles-author .articles-author-right .social {
        position: absolute;
        right: 0;
        top: -11px; }
        @media (max-width: 575px) {
          .articles-info .articles-author .articles-author-right .social {
            position: static; } }
  .articles-info .banners {
    padding: 0; }
    .articles-info .banners .banner-wrapper {
      height: 243px;
      width: 100%;
      position: static;
      float: left; }
      .articles-info .banners .banner-wrapper:last-child {
        margin-right: 0; }
      .articles-info .banners .banner-wrapper a:hover {
        text-decoration: none; }
        .articles-info .banners .banner-wrapper a:hover .banner-wrapper-content {
          background: #f5f8f9; }
      .articles-info .banners .banner-wrapper a .banner-wrapper-content {
        position: relative;
        height: 100%;
        width: 100%;
        background: #ffffff; }
        .articles-info .banners .banner-wrapper a .banner-wrapper-content h1 {
          color: #757575; }
        .articles-info .banners .banner-wrapper a .banner-wrapper-content time {
          color: #a6a9ac; }
  .articles-info .comments .comment {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    padding: 30px;
    background: #ffffff;
    margin-bottom: 20px; }
    .articles-info .comments .comment:last-child {
      margin-bottom: 0; }
  .articles-info .comments .comment-small-margin {
    margin-bottom: 10px; }
  .articles-info .comments ol {
    list-style: none;
    padding: 0; }
    .articles-info .comments ol li img {
      float: left; }
    .articles-info .comments ol li .comment-content {
      margin: 8px 0 0 86px;
      position: relative; }
      .articles-info .comments ol li .comment-content h3 {
        font-weight: 400;
        font-size: 15px;
        margin-bottom: 15px; }
      .articles-info .comments ol li .comment-content time {
        position: absolute;
        right: 0;
        top: -4px;
        color: #a6a9ac;
        font-size: 15px; }
        @media (max-width: 575px) {
          .articles-info .comments ol li .comment-content time {
            position: static;
            margin-bottom: 10px;
            display: block; } }
      .articles-info .comments ol li .comment-content p {
        font-family: "Lato", sans-serif;
        line-height: 25px;
        color: #a6a9ac;
        font-size: 15px;
        margin-bottom: 0; }
      .articles-info .comments ol li .comment-content .comment-content-footer {
        margin: 20px 0 0; }
        .articles-info .comments ol li .comment-content .comment-content-footer .comment-content-footer-icon {
          position: relative;
          font-size: 15px;
          float: right;
          margin-top: 6px; }
          @media (max-width: 575px) {
            .articles-info .comments ol li .comment-content .comment-content-footer .comment-content-footer-icon {
              font-size: 15px;
              margin-left: 34px; } }
          .articles-info .comments ol li .comment-content .comment-content-footer .comment-content-footer-icon i {
            font-size: 26px;
            position: absolute;
            left: -36px;
            top: -2px;
            color: #212121; }
            @media (max-width: 575px) {
              .articles-info .comments ol li .comment-content .comment-content-footer .comment-content-footer-icon i {
                font-size: 30px;
                left: -37px; } }
    .articles-info .comments ol li > .comment-response {
      margin-left: 75px; }
      @media (max-width: 575px) {
        .articles-info .comments ol li > .comment-response {
          margin-left: 35px; } }
      .articles-info .comments ol li > .comment-response li:last-child .comment {
        margin-bottom: 30px; }
      .articles-info .comments ol li > .comment-response li .comment {
        margin-bottom: 10px; }
  .articles-info .comments .button-comment {
    font-size: 15px;
    display: block;
    width: 100%;
    padding: 36px; }
    .articles-info .comments .button-comment:hover {
      background: #f5f8f9; }
    @media (max-width: 575px) {
      .articles-info .comments .button-comment {
        font-size: 15px; } }
    .articles-info .comments .button-comment .button-comment-span {
      position: relative;
      margin-left: 42px; }
    .articles-info .comments .button-comment i {
      font-size: 32px;
      position: absolute;
      left: -44px;
      top: -5px; }
  .articles-info .comments .button-comment-center {
    font-size: 15px;
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px 36px; }
    .articles-info .comments .button-comment-center:hover {
      background: #f5f8f9; }
    @media (max-width: 575px) {
      .articles-info .comments .button-comment-center {
        font-size: 15px; } }
    .articles-info .comments .button-comment-center .button-comment-text {
      position: relative;
      margin-left: -22px; }
    .articles-info .comments .button-comment-center i {
      font-size: 32px;
      position: absolute; }
    .articles-info .comments .button-comment-center .button-comment-text-right-icon {
      top: -2px;
      right: -28px;
      font-size: 26px; }

/*-------------------------------------- 2.16 Article Nav --------------------------------------*/
.article-nav {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 3;
  width: 100%; }
  .article-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden; }
    @media (max-width: 575px) {
      .article-nav ul {
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1); } }
    .article-nav ul li {
      border-bottom: 1px solid #eceff2;
      float: right;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05); }
      @media (max-width: 575px) {
        .article-nav ul li {
          width: 50%;
          border-bottom: none;
          border-right: 1px solid #eceff2; } }
      @media (max-width: 575px) {
        .article-nav ul li:first-child {
          border-right: none; }
          .article-nav ul li:first-child a > i {
            right: 13px;
            left: auto; }
          .article-nav ul li:first-child a > div {
            text-align: right;
            margin-right: 32px; } }
      .article-nav ul li:last-child {
        border-bottom: none;
        float: left; }
      .article-nav ul li a {
        position: relative;
        padding: 10px 24px 12px;
        display: block;
        width: 100%;
        height: 100%;
        color: #a6a9ac;
        background: #ffffff; }
        @media (max-width: 575px) {
          .article-nav ul li a {
            padding: 8px 6px 8px; } }
        .article-nav ul li a:hover {
          text-decoration: none;
          background: #f5f8f9; }
          .article-nav ul li a:hover > i {
            color: #757575; }
          .article-nav ul li a:hover p {
            color: #757575; }
          .article-nav ul li a:hover > div > h3 {
            color: #212121; }
        .article-nav ul li a > i {
          position: absolute;
          left: 10px;
          top: 14px;
          font-size: 26px; }
          @media (max-width: 575px) {
            .article-nav ul li a > i {
              top: 12px; } }
        .article-nav ul li a > div {
          margin-left: 20px; }
          @media (max-width: 575px) {
            .article-nav ul li a > div {
              margin-left: 30px; } }
          .article-nav ul li a > div p {
            font-family: "Lato", sans-serif;
            margin: 0 0 4px; }
          .article-nav ul li a > div > h3 {
            color: #a6a9ac;
            margin: 0 0 4px; }
            @media (max-width: 575px) {
              .article-nav ul li a > div > h3 {
                display: none; } }

/*-------------------------------------- 2.17 Contact --------------------------------------*/
.contact {
  display: flex;
  margin-top: 30px; }
  @media (max-width: 767px) {
    .contact {
      flex-direction: column; } }
  .contact h2 {
    margin-bottom: 36px; }
  .contact .contact-me {
    flex-basis: 40%;
    padding-right: 22px; }
    @media (max-width: 991px) {
      .contact .contact-me {
        flex-basis: 50%; } }
    @media (max-width: 767px) {
      .contact .contact-me {
        flex-basis: 100%;
        padding: 0;
        margin-bottom: 50px; } }
    .contact .contact-me ul {
      list-style: none;
      padding: 0; }
      .contact .contact-me ul li {
        position: relative;
        margin: 24px 0; }
        .contact .contact-me ul li:first-child {
          margin-top: 0; }
        .contact .contact-me ul li:hover i {
          color: #212121; }
        .contact .contact-me ul li i {
          font-size: 32px;
          position: absolute;
          top: 0;
          left: 0; }
        .contact .contact-me ul li .contact-me-right {
          padding: 0 0 0 56px; }
          .contact .contact-me ul li .contact-me-right p {
            font-size: 17px;
            color: #212121;
            margin: 0;
            line-height: 30px; }
          .contact .contact-me ul li .contact-me-right .contact-me-right-desc {
            color: #a6a9ac;
            font-size: 15px; }
  .contact .get-in-touch {
    flex-basis: 60%;
    padding-left: 22px; }
    @media (max-width: 991px) {
      .contact .get-in-touch {
        flex-basis: 50%; } }
    @media (max-width: 767px) {
      .contact .get-in-touch {
        flex-basis: 100%;
        padding: 0; } }
    .contact .get-in-touch form button[type="submit"] {
      position: relative;
      padding-left: 66px; }
      .contact .get-in-touch form button[type="submit"] i {
        font-size: 26px;
        position: absolute;
        top: 7px;
        left: 20px; }
    .contact .get-in-touch form input[name="name"] {
      width: calc(50% - 15px);
      margin-right: 15px;
      float: left;
      margin-bottom: 22px; }
      @media (max-width: 991px) {
        .contact .get-in-touch form input[name="name"] {
          width: 100%;
          margin: 0 0 14px; } }
    .contact .get-in-touch form input[name="email"] {
      width: calc(50% - 15px);
      margin-left: 15px;
      margin-bottom: 22px; }
      @media (max-width: 991px) {
        .contact .get-in-touch form input[name="email"] {
          width: 100%;
          margin: 0 0 14px; } }
    .contact .get-in-touch form textarea[name="question"] {
      margin-bottom: 44px; }
      @media (max-width: 991px) {
        .contact .get-in-touch form textarea[name="question"] {
          margin: 0 0 34px; } }

.contact-map {
  padding: 8px;
  margin-bottom: 30px; }
  .contact-map #contact-map-inside {
    width: 100%;
    height: 488px; }
    @media (max-width: 575px) {
      .contact-map #contact-map-inside {
        height: 320px; } }

/*-------------------------------------- 2.18 Portfolio --------------------------------------*/
.portfolio-menu ul {
  list-style: none;
  padding: 0;
  overflow: hidden; }
  .portfolio-menu ul li {
    float: left;
    margin: 5px 30px 5px 0; }
    .portfolio-menu ul li:first-child {
      margin-left: 0; }
    .portfolio-menu ul li a {
      text-transform: uppercase;
      font-size: 15px;
      color: #a6a9ac;
      text-decoration: none; }
      .portfolio-menu ul li a:hover {
        color: #212121;
        text-decoration: none; }
  .portfolio-menu ul .active a {
    color: #212121; }

.portfolio .portfolio-empty {
  font-family: "Lato", sans-serif;
  color: #a6a9ac;
  display: none;
  margin: 20px 0;
  padding-left: 38px;
  position: relative;
  color: #a6a9ac; }
  .portfolio .portfolio-empty i {
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0; }

.portfolio .portfolio-item {
  padding: 6px;
  height: 306px; }
  .portfolio .portfolio-item:first-child {
    margin-top: 15px; }
  @media (max-width: 991px) {
    .portfolio .portfolio-item {
      height: auto; } }
  .portfolio .portfolio-item .portfolio-item-wrapper {
    height: 100%;
    display: flex;
    position: relative;
    padding-right: 40px; }
    @media (max-width: 991px) {
      .portfolio .portfolio-item .portfolio-item-wrapper {
        padding-right: 0;
        flex-direction: column; } }
    .portfolio .portfolio-item .portfolio-item-wrapper .portfolio-item-wrapper-left {
      margin: 30px 40px;
      flex-basis: 50%;
      position: relative; }
      @media (max-width: 991px) {
        .portfolio .portfolio-item .portfolio-item-wrapper .portfolio-item-wrapper-left {
          flex-basis: 100%;
          padding-bottom: 60px; } }
      @media (max-width: 767px) {
        .portfolio .portfolio-item .portfolio-item-wrapper .portfolio-item-wrapper-left {
          margin: 20px 30px; } }
      .portfolio .portfolio-item .portfolio-item-wrapper .portfolio-item-wrapper-left h2 {
        color: #757575;
        display: inline-block; }
      .portfolio .portfolio-item .portfolio-item-wrapper .portfolio-item-wrapper-left .portfolio-category {
        text-transform: uppercase;
        color: #cccfd3;
        font-size: 13px;
        display: inline-block;
        margin-left: 10px; }
        @media (max-width: 575px) {
          .portfolio .portfolio-item .portfolio-item-wrapper .portfolio-item-wrapper-left .portfolio-category {
            display: block;
            margin-left: 0; } }
      .portfolio .portfolio-item .portfolio-item-wrapper .portfolio-item-wrapper-left p {
        font-size: 17px;
        line-height: 28px;
        margin: 12px 0 0; }
      .portfolio .portfolio-item .portfolio-item-wrapper .portfolio-item-wrapper-left button {
        position: absolute;
        bottom: 0;
        background: transparent; }
        .portfolio .portfolio-item .portfolio-item-wrapper .portfolio-item-wrapper-left button:hover {
          background: #212121; }
    .portfolio .portfolio-item .portfolio-item-wrapper .portfolio-item-wrapper-right {
      display: flex;
      justify-content: center;
      flex-basis: 50%;
      text-align: center; }
      @media (max-width: 991px) {
        .portfolio .portfolio-item .portfolio-item-wrapper .portfolio-item-wrapper-right {
          flex-basis: 100%;
          display: block; } }
      @media (max-width: 575px) {
        .portfolio .portfolio-item .portfolio-item-wrapper .portfolio-item-wrapper-right {
          padding: 5px 20px 0; } }
      .portfolio .portfolio-item .portfolio-item-wrapper .portfolio-item-wrapper-right img {
        align-self: flex-end;
        box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.05); }
  .portfolio .portfolio-item .portfolio-item-default {
    /*
   * Set a counter and get the length of the image path.
   */
    /*
   * Loop ver the image path and figure out the
   * position of the dot where the extension begins.
   */
    /*
   * If we were able to figure out where the extension is,
   * slice the path into a base and an extension. Use that to
   * calculate urls for different density environments. Set
   * values for different environments.
   */
    /*
     * Set a base background for 1x environments.
     */
    background: url("../img/portfolio-default.png") right top no-repeat;
    background-size: 350px 184px;
    /*
     * Create an @2x-ish media query.
     */
    /*
     * Create media queries for all environments that the user has
     * provided images for.
     */
    /*
   * If anything went wrong trying to separate the file from its
   * extension, set a background value without doing anything to it.
   */ }
    @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
      .portfolio .portfolio-item .portfolio-item-default {
        background: url("../img/portfolio-default@2x.png") right top no-repeat;
        background-size: 350px 184px; } }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .portfolio .portfolio-item .portfolio-item-default {
        background: url("../img/portfolio-default@2x.png") right top no-repeat;
        background-size: 350px 184px; } }
    @media (max-width: 575px) {
      .portfolio .portfolio-item .portfolio-item-default {
        background-size: auto 50%; } }

/*-------------------------------------- 2.19 Shop --------------------------------------*/
.portfolio .shop-item {
  height: 378px; }
  @media (max-width: 991px) {
    .portfolio .shop-item {
      height: auto; } }
  @media (max-width: 991px) {
    .portfolio .shop-item .portfolio-item-wrapper .portfolio-item-wrapper-left {
      padding-bottom: 10px; } }
  .portfolio .shop-item .portfolio-item-wrapper .portfolio-item-wrapper-left .shop-item-desc {
    height: 112px; }
    @media (max-width: 991px) {
      .portfolio .shop-item .portfolio-item-wrapper .portfolio-item-wrapper-left .shop-item-desc {
        height: auto; } }
  .portfolio .shop-item .portfolio-item-wrapper .portfolio-item-wrapper-left p.portfolio-item-price {
    display: inline-block;
    color: #757575;
    font-weight: 900;
    font-family: "Lato", sans-serif;
    font-size: 36px;
    margin-top: 30px; }
    .portfolio .shop-item .portfolio-item-wrapper .portfolio-item-wrapper-left p.portfolio-item-price sup {
      font-size: 20px;
      margin-left: 4px; }
  .portfolio .shop-item .portfolio-item-wrapper .portfolio-item-wrapper-left .portfolio-item-sales {
    display: inline-block;
    text-transform: uppercase;
    color: #cccfd3;
    font-size: 13px;
    display: inline-block;
    margin-left: 10px; }
    @media (max-width: 575px) {
      .portfolio .shop-item .portfolio-item-wrapper .portfolio-item-wrapper-left .portfolio-item-sales {
        display: block;
        margin: 10px 0 0; } }
  .portfolio .shop-item .portfolio-item-wrapper .portfolio-item-wrapper-left .portfolio-item-wrapper-left-footer {
    margin-top: 30px; }
    .portfolio .shop-item .portfolio-item-wrapper .portfolio-item-wrapper-left .portfolio-item-wrapper-left-footer .btn-buy {
      position: relative;
      padding-left: 66px;
      background: #a6a9ac;
      color: #ffffff; }
      .portfolio .shop-item .portfolio-item-wrapper .portfolio-item-wrapper-left .portfolio-item-wrapper-left-footer .btn-buy:hover {
        background: #212121; }
      .portfolio .shop-item .portfolio-item-wrapper .portfolio-item-wrapper-left .portfolio-item-wrapper-left-footer .btn-buy i {
        font-size: 26px;
        position: absolute;
        top: 7px;
        left: 24px; }
    .portfolio .shop-item .portfolio-item-wrapper .portfolio-item-wrapper-left .portfolio-item-wrapper-left-footer button {
      position: static;
      margin-right: 10px; }
      @media (max-width: 575px) {
        .portfolio .shop-item .portfolio-item-wrapper .portfolio-item-wrapper-left .portfolio-item-wrapper-left-footer button {
          margin-bottom: 16px; } }
