{%load static%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Photoidea: {{title}}</title>

    <!-- EXTERNAL CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/Pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/social-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">

    <!-- MY CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="76x76" href="{% static '/img/logo.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static '/img/logo.png' %}">
    <link rel="icon" type="image/png" href="{% static '/img/favidea.ico' %}" sizes="196x196">
    <link rel="icon" type="image/png" href="{% static '/img/favidea.ico' %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static '/img/favidea.ico' %}" sizes="32x32">

</head>

<body>

{% block header %}
{% include "includes/header.html" %}
{% endblock header %}


<!-- MAIN -->
<main>
    <div class="container">
        <div class="row">

            <!-- General informations -->
            <div class="col-xs-12">
                <section class="general-info white-box">
                    <div class="author">
                        <img src="{% static '/img/about.jpg' %}" alt="about" data-rjs="2">
                        <ul class="author-nav">
                            <li><a href="{% url 'contact' %}" title=""><i class="pe-7s-paper-plane"></i>Написать нам</a>
                            </li>
                        </ul>
                    </div>
                    <div class="general-info-right">
                        <h1> Event.Photoidea.by</h1>
                        <div class="social">
                            <a href="https://vk.com/minsk_photoidea" title="VK"><i class="fa fa-vk"
                                                                                   aria-hidden="true"></i></a>
                            <a href="https://www.instagram.com/photoidea.by/" title="instagram"><i
                                    class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="https://ok.ru/group/54895990341632" title="odnoklassniki"><i
                                    class="fa fa-odnoklassniki-square" aria-hidden="true"></i></a>
                            <a href="https://www.facebook.com/groups/727805510710534/" title="facebook"><i
                                    class="fa fa-facebook-square" aria-hidden="true"></i></a>
                        </div>
                        <div class="clear"></div>
                        <span class="general-info-right-author-info">Это сайт бронирования заказов а также блог о жизни
                            компании Photoidea.by</span>
                        <p> Photoidea.by - это всегда свежие идеи для вашего мероприятия. Фотограф, мобильные
                            фотокабины,инстабокс, панда-аниматор, веселый реквизит и красочный фон качественно
                            разнообразят ваш праздник. Сотни партнеров, сотни успешных мероприятий,миллионы фотографий.
                        </p>
                        <p> В разделе "Заказы" вы можете рассчитать и забронировать на свободную дату фотокабину
                            В разделе "Наши ресурсы" вы можете найти блог о жизни компании и ссылки на другие ресурсы.
                        </p>
                    </div>
                </section>
            </div>

            <!-- Details informations -->
            <div class="col-xs-12">
                <section class="detail-info white-box">
                    <div class="detail-info-philosophy">
                        <h2>Наша философия</h2>
                        <img src="{% static '/img/vkpic.jpg' %}" alt="about" data-rjs="2">
                        <p>
                            Почуствовать клиента - в необходимый момент стать другом либо партнером, раствориться в
                            декорациях либо выйти на первый план и развеселить, оставить хорошее настроение клиенту и
                            компании.
                        </p>
                    </div>
                    <div class="detail-info-skills">
                        <h2>Услуги</h2>
                        <ol>
                            <li>
                                <span>01</span>
                                <div class="detail-info-skills-right">
                                    <h3><a href="http://photoidea.by/index.php/service/photobox"
                                           title="Подробнее на Photoidea.by">ФОТОБУДКА</a></h3>
                                    <p>
                                        Аренда мобильной фотокабины на выбор.<br>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <span>02</span>
                                <div class="detail-info-skills-right">
                                    <h3><a href="http://photoidea.by/index.php/service/khromakej#"
                                           title="Подробнее на Photoidea.by">ХРОМАКЕЙ</a></h3>
                                    <p>
                                        Аренда Green Screen либо обычного фона
                                    </p>
                                </div>
                            </li>
                            <li>
                                <span>03</span>
                                <div class="detail-info-skills-right">
                                    <h3><a href="http://orlovkiril.com/"
                                           title="Перейти на сайт фотографа ">ФОТОГРАФ</a></h3>
                                    <p>
                                        Профессиональный фотограф Орлов Кирилл
                                    </p>
                                </div>
                            </li>
                            <li>
                                <span>04</span>
                                <div class="detail-info-skills-right">
                                    <h3><a href="https://vk.com/album-93936843_223366159" title="Фотчет в VK">ПАНДА</a>
                                    </h3>
                                    <p>
                                        Заказ панды-аниматора
                                    </p>
                                </div>
                            </li>
                        </ol>
                    </div>
                </section>
            </div>

            <!-- Counters -->
            <div class="col-xs-12">
                <section class="counters white-box">
                    <div class="counters-one">
                        <span class="counters-one-icon"><i class="pe-7s-id"></i></span>
                        <h2>100+</h2>
                        <p>Партнеров</p>
                    </div>
                    <div class="counters-one">
                        <span class="counters-one-icon"><i class="pe-7s-news-paper"></i></span>
                        <h2>1000+</h2>
                        <p>Заказов</p>
                    </div>
                    <div class="counters-one">
                        <span class="counters-one-icon"><i class="pe-7s-photo"></i></span>
                        <h2>1000000+</h2>
                        <p>Сделанных фото</p>
                    </div>
                    <div class="counters-one">
                        <span class="counters-one-icon"><i class="pe-7s-tools"></i></span>
                        <h2>100500</h2>
                        <p>Улучшенных праздников</p>
                    </div>
                </section>
            </div>

        </div>
    </div>
</main>
<!-- end MAIN -->
