{% extends 'base.html' %}
{%load static%}


{% block title %} {{title}} {% endblock title %}

{% block content %}

<!-- TEXT ARTICLE -->

{% for post in posts %}

<article class="green-article">
    <div class="articles-header">
        <span class="articles-header-category"><a href="#" title="published"> {{ post.published_date }}</a></span>
    </div>
    <div class="articles-content">
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr|truncatewords:20 }}</p>
    </div>
    <div class="articles-footer">
        <ul>
            <li><a href="{% url 'post_detail' pk=post.pk %}" title=""><i class="pe-7s-comment"></i>
                {{dict_comm|get_item:post.pk}} Response</a></li>
            <li><a href="#" title=""><i class="pe-7s-like"></i> 1221</a></li>
        </ul>
        <a title="" class="btn" href="{% url 'post_detail' pk=post.pk %}">Read more</a>

    </div>
</article>
{% empty %} <p> Sorry, no posts</p>
{% endfor %}


{% include "includes/pagination.html" with page=posts %}
{% endblock %}
