{% extends 'base.html' %}
{%load static%}


{% block title %} {{title}} {% endblock title %}

{% block five%}
<a href="/blog">^назад</a>
{{ block.super }}
{%endblock%}


{% block content %}
<article class="green-article">

    <div class="articles-header">
        {% if post.published_date %}
        <span class="articles-header-category"><a href="#" title="published"> {{ post.published_date }}</a></span>
        {% endif %}
    </div>
    <div class="articles-content">
        <h1><a href="#">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>


        <nav class="header-nav">
            <ul>
                {% if post.update_date %}

                <li title="update"> {{ post.update_date }}</li>

                {% endif %}
                {% if user.is_authenticated %}
                <li class="pe-7s-refresh"><a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">Редактировать
                    запись</a></li>
                {% endif %}

                <li class="pe-7s-paper-plane"><a class="btn btn-default" href="{% url 'post_share' pk=post.pk %}">Отправить
                    запись</a></li>
            </ul>
        </nav>
        <hr/>
        {%for comment in comments%}
        <p>{{comment.author.get_full_name}} </p>
        <p>{{comment.created_date}}</p>
        <p>{{comment.text}}</p>
        {% endfor %}
    </div>

</article>
{% endblock %}