{% extends "base.html" %}
{% load static %}
{% block title %}Поиск{% endblock %}

{% block content %}
<article class="green-article">
    <div class="articles-header">
        {% if query %}
        <h1>Статьи, содержащие "{{ query }}"</h1>
        <h3>
            {% with results.count as total_results %}
              Найдено {{ total_results }} результатов
            {% endwith %}
        </h3>
        {% for post in results %}
        <h4><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h4>
        {{ post.text|truncatewords:5 }}
        {% empty %}
        <p>По вашему запросу ничего не найдено</p>
        {% endfor %}
        <p><a href="{% url 'post_search' %}">Новый поиск</a></p>
        {% else %}
        <h1>Искать статьи с текстом:</h1>
        <form action="." method="get">
            {{ form.as_p }}
            <input type="submit" value="Искать">
        </form>
        {% endif %}
    </div>
</article>
        {% endblock %}
