{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Event.Photoidea: {% block title %}{% endblock title %}</title>

    <!-- EXTERNAL CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/Pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/social-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">

    <!-- MY CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block icon %}
    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="76x76" href="{% static '/img/logo.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static '/img/logo.png' %}">
    <link rel="icon" type="image/png" href="{% static '/img/favidea.ico' %}" sizes="196x196">
    <link rel="icon" type="image/png" href="{% static '/img/favidea.ico' %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static '/img/favidea.ico' %}" sizes="32x32">
    {% endblock icon %}
</head>

<body>

{% block header %}
{% include "includes/header.html" %}
{% endblock header %}

{% block main %}
<!-- MAIN -->
<main>

    <div class="container">
        <div class="row">
            {% block category_title %}
            <!-- CATEGORY TITLE -->
            <div class="col-xs-12">
                <section class="category-title">

                    <div class="container pt">
                        <div class="row">
                            <h2><a href="{% url 'post_list'%}">Блог Photoidea.by</a></h2>
                            <p>Чтобы оставлять комментарии нужно залогиниться(зарегестрироваться) на сайте</p>
                        </div>
                    </div>
                </section>
            </div>
            {% endblock %}
            <!-- end CATEGORY TITLE -->

            <!-- ARTICLES -->
            <div class="col-lg-8 col-xs-12">
                <section class="articles">
                    {%block content%}
                    {%endblock%}
                </section>
            </div>

            <!-- AUTHOR -->
            <div class="aside-blocks col-lg-4 col-xs-12">


                <aside class="categories">
                    <h2 class="aside-title">Menu</h2>
                    <ul>
                        {% if user.is_authenticated %}
                        <li class="nav-elipse-blue"><a href="{% url 'post_new' %}" title="Add a new post">New post</a>
                        </li>
                        <li class="nav-elipse-red"><a href="{% url 'comment_new' %}" title="Add a new comment">Add
                            comment</a></li>
                        <li class="nav-elipse-yellow"><a href="/security/admin/" title="Reserve">Управление</a></li>
                        {% else %}
                        <li class="buyproducts-link-"><a href="{% url 'login_view' %}" title="Log IN">LOG IN </a></li>
                        {% endif %}

                        <li class="nav-elipse-green"><a href="{% url 'post_search' %}" title="Поиск по тексту и заголовкам">Искать</a></li>

                    </ul>

                </aside>

                <aside>
                    <a href="http://photoidea.by/"><img src="{% static '/img/photoidea_k.png' %}" alt="photoidea"
                                                        data-rjs="2"></a>
                </aside>
                <aside class="last-project">
                    <h2 class="aside-title">Last 5 Posts</h2>
                    <div class="last-project-one">
                        {%block five %}
                        <ul class="links">
                            {% for post in posts_five %}
                            <li><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></li>
                            </hr>
                            {% endfor %}
                        </ul>
                    </div>
                </aside>
                <aside class="last-project">
                    <h2 class="aside-title">АРХИВ СТАТЕЙ</h2>
                    <div class="last-project-one">
                        <a href="/">{{ 2020 }}</a>
                        <br/>
                        <div>
                            {% for key, value in arh.items %}
                            <a href="{% url 'arhive_month' 2020 key %}"> 2020 {{value}} </a>
                            <br/>
                            {% endfor %}
                        </div>
                    </div>
                </aside>
                {%endblock%}

                <aside class="tags">
                    <h2 class="aside-title">Tags</h2>
                    <div class="tags-content">
                        <span class="tag tag-pill tag-default"><a href="">graphic</a></span>
                        <span class="tag tag-pill tag-default"><a href="">angular2</a></span>
                        <span class="tag tag-pill tag-default"><a href="">graphic</a></span>
                        <span class="tag tag-pill tag-default"><a href="">react</a></span>
                        <span class="tag tag-pill tag-default"><a href="">it</a></span>
                        <span class="tag tag-pill tag-default"><a href="">science</a></span>
                    </div>
                </aside>

            </div>
        </div>
    </div>
</main>
<!-- end MAIN -->
{% endblock main %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock footer %}


<!-- EXTERNAL JAVASCRIPT -->
<script type="text/javascript" src="{% static 'js/jquery-1.12.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tether.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/retina.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/webfont.js' %}"></script>

<!-- MY JAVASCRIPT -->
<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>

</body>
</html>
