{% extends 'base.html' %}
{%load static%}
{% block main %}

<!-- BANNER POSTS -->
<section class="banners">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-xs-12">
                <div class="banner-wrapper">
                    <a href="{% url 'cost' %}" title="Перейти к рассчету">
                        <div class="banner-wrapper-content">
                            <span class="category-tag category-tag-white">Рассчёт</span>
                            <h1 class="h2">Рассчитать стоимость</h1>
                        </div>
                    </a>
                    <img class="img-fluid" src="{% static '/img/photo1.jpg'%}" alt="cost Photo" data-rjs="2">
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="banner-wrapper">
                    <a href="{% url 'order' %}" title="Сделать заказ">
                        <div class="banner-wrapper-content">
                            <span class="category-tag category-tag-white">Заказ</span>
                            <h1 class="h2">Заказать на свободную дату</h1>
                        </div>
                    </a>
                    <img class="img-fluid" src="{% static '/img/photo2.jpg'%}" alt="order Photo" data-rjs="2">
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="banner-wrapper">
                    <a href="http://photoidea.by/" title="Photoidea.by">
                        <div class="banner-wrapper-content">
                            <h1 class="h2">Photoidea.by</h1>
                        </div>
                    </a>
                    <img class="img-fluid" src="{% static '/img/photo3.jpg'%}" alt="PhotoID" data-rjs="2">
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="banner-wrapper">
                    <a href="{% url 'post_list'%}" title="Блог">
                        <div class="banner-wrapper-content">
                            <h1 class="h2">Блог</h1>
                        </div>
                    </a>
                    <img class="img-fluid" src="{% static '/img/photo4.jpg'%}" alt="<blog>" data-rjs="2">
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="banner-wrapper">
                    <a href="http://photoidea.by/index.php/galereya" title="Каталог фотографий">
                        <div class="banner-wrapper-content">
                            <h1 class="h2">Фоотоотчеты</h1>

                        </div>
                    </a>
                    <img class="img-fluid" src="{% static '/img/photo5.jpg'%}" alt="Photo" data-rjs="2">
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end BANNER POSTS -->


<div class="container">
    <div class="row">
        <br>
        <ul>
            {% endblock main %}
