{% extends 'base.html' %}
{%load static%}

{% block icon %}
<!-- FAVICON -->
<link rel="apple-touch-icon" sizes="76x76" href="{% static '/img/logo.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static '/img/logo.png' %}">
<link rel="icon" type="image/png" href="{% static '/img/logo.png' %}" sizes="196x196">
<link rel="icon" type="image/png" href="{% static '/img/logo.png' %}" sizes="96x96">
<link rel="icon" type="image/png" href="{% static '/img/logo.png' %}" sizes="32x32">
{% endblock icon %}


{% block title %} {{title}} {% endblock title %}

{% block main %}
<div class="container">
    <div class="row">
        <!-- Details informations -->
        <div class="col-xs-12">
            <section class="white-box2">
                {% if sent %}
                <h3>Поздравляем,{{ form.cleaned_data.client_name }}! Бронирование "{{ number}}"
                    отправлено администратору для подтверждения.</h3>
                <p>а также на E-mail "{{ form.cleaned_data.client_email }}" </p>

                {% else %}
                <h1>Заказ:</h1>
                <hr>
                <form method="POST" class="post-form">{% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <hr>
                    <p>
                    <h3>
                        <output name="Result">Итого:<i><a href="#">{{result}}</a></i> у.е.</output>
                        <output name="Delivery"> В стоимость включена доставка:<i><a href="#">{{delivery}}</a></i> у.е.*
                        </output>
                    </h3>
                    </p>
                    <hr>
                    <button type="submit" class="save btn btn-default" name="cost2_submit"> Рассчитать</button>
                    <button type="submit" class="save btn btn-default" name="order2_submit"> Заказать</button>
                    <br>
                    <br>
                    <p>*Расчет носит информационный характер.Итоговая стоимость, дата и время согласовываются с
                        администратором. Все расчеты в белорусских рублях по курсу НБРБ на день оплаты.
                        <a href="{% url 'contact' %}" title="Основные контакты Photoidea">Наши контакты</a>
                    </p>
                </form>
                {% endif %}
            </section>
        </div>
    </div>
</div>
{% endblock main %}
